@page "/login"
@inject NavigationManager NavManager

<h3>Login with GitHub</h3>

<button @onclick="LoginWithGitHub">Sign In</button>

@code {
    private void LoginWithGitHub()
    {
        NavManager.NavigateTo("https://ecommerceapiwebapp-daege4dme6bqbsak.uksouth-01.azurewebsites.net/auth/login", forceLoad: true);
    }
}